doctype html
html.h-100(lang='en')
    head
        title= siteName
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    body.h-100.d-flex.flex-column.bg-dark
        header.container
            nav.navbar.navbar-expand-lg.navbar-light.bg-dark
                a.navbar-brand.text-white(href='/')= siteName
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item.active
                            a.nav-link.text-white(href='#')
                                | #{title}
                                span.sr-only (current)

                        li.nav-item
                            a.nav-link.text-white(href="/static/dashboard.html") Dashboard
                        if loggedIn
                            li.nav-item
                                a.nav-link.text-white(href="/user") My Links
                            li.nav-item
                                a.nav-link.text-white(href="/all-links") All Links
                            li.nav-item
                                a.nav-link.text-white(href="/logout") Log Out
                        else
                            li.nav-item
                                a.nav-link.text-white(href="/login") Log In

        main.container.h-100
            block content
        footer.container
        script(src='//code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src='//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
        script(src='//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')