extends layout

block content

    if (links.length)
        table.table.table-light(style="width: 100%")
            thead
                tr
                    th Link Name
                    th Destination
                    th Action
            tbody
                each link in links
                    tr
                        td
                            a(href=link['linkname']) #{link['linkname']}
                        td(style="word-break:break-all")
                            a(href=link['dest'] style="word-break") #{link['dest']}
                        td
                            a.btn.btn-primary.btn-outline(href="/edit/" + link['linkname']) Edit

    else
        h1 You don't have any links
    a.btn.btn-primary(href="/edit") Create More